EMX.WorkersBenefits.BL/Connected Services/GoldmanSMSServce/SendSMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://smsapi.co.il/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://smsapi.co.il/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://smsapi.co.il/">
      <s:element name="SUBMITSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SUBMITSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SUBMITSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="COMMANDS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="COMMANDSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="COMMANDSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SUBMITSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SUBMITSMS" />
  </wsdl:message>
  <wsdl:message name="SUBMITSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SUBMITSMSResponse" />
  </wsdl:message>
  <wsdl:message name="COMMANDSSoapIn">
    <wsdl:part name="parameters" element="tns:COMMANDS" />
  </wsdl:message>
  <wsdl:message name="COMMANDSSoapOut">
    <wsdl:part name="parameters" element="tns:COMMANDSResponse" />
  </wsdl:message>
  <wsdl:message name="SUBMITSMSHttpGetIn">
    <wsdl:part name="XMLString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SUBMITSMSHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="COMMANDSHttpGetIn">
    <wsdl:part name="XMLString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="COMMANDSHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SUBMITSMSHttpPostIn">
    <wsdl:part name="XMLString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SUBMITSMSHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="COMMANDSHttpPostIn">
    <wsdl:part name="XMLString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="COMMANDSHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="SendSMSSoap">
    <wsdl:operation name="SUBMITSMS">
      <wsdl:input message="tns:SUBMITSMSSoapIn" />
      <wsdl:output message="tns:SUBMITSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="COMMANDS">
      <wsdl:input message="tns:COMMANDSSoapIn" />
      <wsdl:output message="tns:COMMANDSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SendSMSHttpGet">
    <wsdl:operation name="SUBMITSMS">
      <wsdl:input message="tns:SUBMITSMSHttpGetIn" />
      <wsdl:output message="tns:SUBMITSMSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="COMMANDS">
      <wsdl:input message="tns:COMMANDSHttpGetIn" />
      <wsdl:output message="tns:COMMANDSHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SendSMSHttpPost">
    <wsdl:operation name="SUBMITSMS">
      <wsdl:input message="tns:SUBMITSMSHttpPostIn" />
      <wsdl:output message="tns:SUBMITSMSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="COMMANDS">
      <wsdl:input message="tns:COMMANDSHttpPostIn" />
      <wsdl:output message="tns:COMMANDSHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendSMSSoap" type="tns:SendSMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SUBMITSMS">
      <soap:operation soapAction="http://smsapi.co.il/SUBMITSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="COMMANDS">
      <soap:operation soapAction="http://smsapi.co.il/COMMANDS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSMSSoap12" type="tns:SendSMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SUBMITSMS">
      <soap12:operation soapAction="http://smsapi.co.il/SUBMITSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="COMMANDS">
      <soap12:operation soapAction="http://smsapi.co.il/COMMANDS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSMSHttpGet" type="tns:SendSMSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SUBMITSMS">
      <http:operation location="/SUBMITSMS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="COMMANDS">
      <http:operation location="/COMMANDS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSMSHttpPost" type="tns:SendSMSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SUBMITSMS">
      <http:operation location="/SUBMITSMS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="COMMANDS">
      <http:operation location="/COMMANDS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendSMS">
    <wsdl:port name="SendSMSSoap" binding="tns:SendSMSSoap">
      <soap:address location="http://www.smsapi.co.il/Web_API/SendSMS.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSMSSoap12" binding="tns:SendSMSSoap12">
      <soap12:address location="http://www.smsapi.co.il/Web_API/SendSMS.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSMSHttpGet" binding="tns:SendSMSHttpGet">
      <http:address location="http://www.smsapi.co.il/Web_API/SendSMS.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSMSHttpPost" binding="tns:SendSMSHttpPost">
      <http:address location="http://www.smsapi.co.il/Web_API/SendSMS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>